body { margin:15px;
background-image: url("black impala.jpg");
background-repeat: no-repeat;
      background-color: #123456; }
h1 { color: #FFFFFF;
}
img {float: left;}

     
#container { background-color: grey;
             position: absolute;
			left: 100px;
			top: 200px;
			 color: black;
			 width:85%;
			 margin:auto;
             min-width: 960px;
			 min-height: 750px;
             font-family: Verdana, Arial, sans-serif; 
			 border-style:solid;
			border-width:3px;
			border-color: none;} 
#container2 {background-color: midnightblue;
             position: absolute;
			left: 100px;
			top: 100px;
			 color: white;
			 width:85%;
			 margin:auto;
             min-width: 960px;
			 min-height: 750px;
             font-family: Verdana, Arial, sans-serif; 
			 border-style:solid;
			border-width:3px;
			border-color: none;
}

#videonav:link  {color:#000000; background-color:transparent}
:visited {color:#000000; background-color:transparent}
a:hover   {color:#ff0000; background-color:transparent}
a:active  {color:#ff0000; background-color:transparent}


#pagenav ul li
{
display: inline;
list-style-type: none;
padding: 15px;
font-family: Verdana, Arial, sans-serif; 
font-weight: bold;
text-decoration: none;
background-color: #ffffff;
margin-right:30px;
padding-right:60px;
padding-left:10px;
border-radius:7.5px;
float: c;
}


iframe {
  margin-top: 20px;
  margin-bottom: 30px;
}



.gal {
    margin: 5px;
    padding: 2px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
	display:inline;
}

.gal img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
	}

.gal a:hover img {
    border:1px solid #0000ff;
}

#center {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	display: block;
	}